html { 
    font-size: 26px;
}
  
.Wellcome{
  display: none;
}
    
.typing {
    position: absolute;
      left: 0;
      top: 30%;
      display: block;
      right: 0;
      animation-name: cursor; 
      animation-duration: 0.3s; 
      animation-iteration-count: infinite; 
      text-align: center;
      font-family: 'Abril Fatface', cursive;
      font-size: 2em;
}
  
  @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
}

.btnSkip {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    left: 93%;
    top: 10px;
    border: 0px;
    background: inherit;
    transition: .2s;
}

.btnSkip:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 1px solid #000;
}